{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} :: Bling</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bling/style.css' %}">
</head>
<body>
    <nav align="center">
        {% if user.is_authenticated %}
        <a href="{% url 'user_profile' user.username %}">{{ user.username }}</a> /
        <a href="{% url 'home' %}">Фидлента</a> /
        <a href="{% url 'newpost' %}">Новый пост</a> /
        {% if user.is_superuser %}<a href="{{ HTTP_HOST }}/admin/">Админка</a> /{% endif %}
        <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
        <a href="{% url 'signin' %}">Вход</a> /
        <a href="{% url 'signup' %}">Регистрация</a>
    {% endif %}
    </nav>
    <section>
        {% block content %}
        {% endblock %}
    </section>
<!-- Лого сайта внизу -->
    <footer class="footer">
        <img src="footer logo.png" alt="" class="FooterLogo">
    </footer>
</body>
</html>