{% extends "layout/basic_auth.html" %}

{% block title %} Вход {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>{{ user.username }}, вы уже выполнили вход</p><br>
<a href="{% url 'home' %}">Главная</a>
{% else %}
<div class="content">
    <div class="OfferBox">
        <img src="LogoLogin.png" class="logo">
        <h1>BLING - новая социальная сеть, чисто “для своих”.</h1>
        <h1>Пройдите регистрацию и присоединяйтесь!</h1>

    </div>
    <!--Начало блока с регистрацией-->
    <div class="loginblock">
        <p class="EnterToAccount">Войдите в учетную запись</p>
        <form method="post">
            {% csrf_token %}
            <p><input name="username" id="username" placeholder="Логин или e-mail" class="loginform"></p>
            <p><input type='password' name="password" id="password" placeholder="Пароль" class="passwordform"></p>
            <!-- <input type="hidden" name="next" value="{{ next }}">
            <input type="submit" value="Войти" class="EnterButton"> -->
        <!-- Чекбокс чтоб не выходить из учётки при закрытии сайта -->
        <label class="container">Оставаться в системе
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
        </label>
        <!-- Кнопка входа и предложение регистрации -->
        <input type="submit" value="Войти" class="EnterButton">
        </form>
        <div class="RegMessage">
            <p class="FirstTime">Впервые с нами?</p>
            <a href="{% url 'signup' %}">Зарегистрироваться</a>
        </div>
        </div>
</div>
    <!--Конец блока с регистрацией-->
<!-- Лого сайта внизу -->
    <footer class="footer">
        <img src="footer logo.png" alt="" class="FooterLogo">
    </footer>
{% endif %}
{% endblock %}
