{% extends "layout/basic_auth.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>{{ user.username }}, вы уже выполнили вход</p><br>
<a href="{% url 'home' %}">Главная</a>
{% else %}
<div class="content">
    <div class="OfferBox">
        <img src="LogoLogin.png" class="logo">
        <h1>BLING - новая социальная сеть, чисто “для своих”.</h1>
        <h1>Пройдите регистрацию и присоединяйтесь!</h1>

    </div>
    <!--Начало блока с регистрацией-->
    <div class="regblock">
        <p class="EnterToAccount">Зарегистрируйтесь</p>
        <p>{{ error_message }}</p>
        <form method="post">
             {% csrf_token %}
            <p><input name="username" id="username" placeholder="Ник" class="loginform"></p>
<!--            <p><input name="email" id="email" placeholder="E-mail" class="loginform"></p>-->
            <p><input type='password' name="password" id="password" placeholder="Пароль" class="passwordform"></p>
            <p><input type='password' name="password2" id="password2" placeholder="Повторите пароль" class="passwordform"></p>
            <!-- Кнопка входа -->
            <input type="submit" value="Зарегистрироваться" class="EnterButton">
        </form>
        <!-- Предложение войти -->
        <div class="RegMessage">
            <p class="FirstTime">Уже с нами?</p>
            <a href="{% url 'signup' %}">Войти в учетную запись</a>
        </div>
        </div>
</div>
    <!--Конец блока с регистрацией-->
<!-- Лого сайта внизу -->
    <footer class="footer">
        <img src="footer logo.png" alt="" class="FooterLogo">
    </footer>
{% endif %}
{% endblock %}
