<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bling::Signup</title>
</head>
<body>
<a href="{% url 'login' %}">Войти</a>
<h2>Регистрация</h2>
<form method="post">
    {% csrf_token %}
<!--    {{ form.as_p }}-->
    <p>
        <label for="id_username">Имя пользователя:</label>
        <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus required id="id_username">
    </p>
    <p>
        <label for="id_password1">Пароль:</label>
        <input type="password" name="password1" autocomplete="new-password" required id="id_password1">
    </p>
    <p>
        <label for="id_password2">Подтверждение пароля:</label>
        <input type="password" name="password2" autocomplete="new-password" required id="id_password2">
    </p>
    <input type="submit">
</form>
</body>
</html>