{% extends "layout/basic.html" %}

{% block content %}
{% if user.is_authenticated %}
    {% if blingposts.0 %}
        {% for blingpost in blingposts %}
            <div class="post">
                <h3><a href="{% url 'user_profile' blingpost.author.username %}">{{ blingpost.author.profile }}</a> сделал пост:</h3>
                <p>{{ blingpost.text }}</p><br>
                {% if blingpost.images != None %}
                    <img src="{{ MEDIA_ROOT }}{{ blingpost.images.image.url }}" width="200px">
                {% endif %}
                <h4 class="PostDate">🕙 {{ blingpost.created_on|date:"d.m.Y H:i" }}</h4>
            </div><br>
        {% endfor %}
    {% else %}
        <p align="center">Тут пока нет постов...</p>
    {% endif %}
{% endif %}
{% endblock %}