{% extends "layout/basic.html" %}

{% block content %}
{% for blingpost in blingposts %}
<div class="post">
    {% if blingpost.author.first_name or blingpost.author.lastname %}
        <h3><a href="{% url 'user_profile' blingpost.author.username %}">{{ blingpost.author.first_name }} {{ blingpost.author.last_name }}</a> сделал пост:</h3>
    {% else %}
        <h3><a href="{% url 'user_profile' blingpost.author.username %}">{{ blingpost.author.username }}</a> сделал пост:</h3>
    {% endif %}
    <p>{{ blingpost.text }}</p><br>
    {% if blingpost.images != None %}
        <img src="{{ MEDIA_ROOT }}{{ blingpost.images.image.url }}" width="200px">
    {% endif %}
    <h5 class="PostDate">Дата публикации: {{ blingpost.created_on|date:"d.m.Y H:i:s" }}</h5>
</div><br>
{% endfor %}
{% endblock %}