{% extends "layout/basic.html" %}

{% block title %} {{ blinguser.username }} {% endblock %}

{% block content %}

<!--now rendering this user's name-->
{% if blinguser.first_name or blinguser.lastname %}
        <h1>{{ blinguser.first_name }} {{ blinguser.last_name }}</h1>
    {% else %}
        <h1>{{ blinguser.username }}</h1>
    {% endif %}

<!--now rendering subscribe/unsubscribe button--><br>
{% if request.user != blinguser %}
    <form method="post">{% csrf_token %}

        {% if is_current_user_subscribed %}
            <button name="unsubscribe" type="submit" value="{{ blinguser.pk }}">Отменить подписку</button>
        {% elif is_current_user_friend %}
            <button name="unsubscribe" type="submit" value="{{ blinguser.pk }}">Удалить из друзей</button>
        {% elif is_profile_user_subscribed %}
            <button name="subscribe" type="submit" value="{{ blinguser.pk }}">Подписаться в ответ</button>
        {% else %}
            <button name="subscribe" type="submit" value="{{ blinguser.pk }}">Подписаться</button>
        {% endif %}

    </form>
{% endif %}

<!--subs/friends block-->
<div style="border: 1px solid black; position: relative; width: 500px; background-color: #7777ff;">
    Друзья: {{ friends_amount }}
    {% if friends_amount > 0 %}
        {% for friend in friends %}
            <br><a href="{% url 'user_profile' friend.username %}">{{ friend.profile }}</a>
        {% endfor %}
    {% endif %}
</div>
<div style="border: 1px solid black; position: relative; width: 500px; background-color: #7777ff;">
    Подписчики: {{ subs_amount }}
    {% if subs_amount > 0 %}
        {% for sub in subs %}
            <br><a href="{% url 'user_profile' sub.username %}">{{ sub.profile }}</a>
        {% endfor %}
    {% endif %}
</div>

{% if blinguser.pk == user.pk %}<br>
<form method="post">{% csrf_token %}
    <input type="text" name="new_post" placeholder="Что у вас нового?">
    <button name="post_id" type="submit" value="{{ blingpost.pk }}">Запостить</button>
</form>
{% endif %}
<!--posts block-->
{% for blingpost in blingposts %}
            <div class="post">
                <h3><a href="{% url 'user_profile' blingpost.author.username %}">{{ blingpost.author.profile }}</a> сделал пост:</h3>
                <p>{{ blingpost.text }}</p><br>
                {% if blingpost.images != None %}
                    <img src="{{ MEDIA_ROOT }}{{ blingpost.images.image.url }}" width="200px">
                {% endif %}

                <!-- likes & comments block -->
                <h4 class="PostDate">
                        🕙 {{ blingpost.how_old }}
                    <form method="post">{% csrf_token %}
                        <button name="like" type="submit" value="{{ blingpost.pk }}">Нравится({{ blingpost.likes_amount }})</button>
                    </form>
                    Коментариев: {{ blingpost.comments_amount }}
                    {% if blingpost.comments_amount > 0 %}
                        {% for comment in blingpost.comments.all %}
                    <br><a href="{% url 'user_profile' comment.author.username %}">{{ comment.author.profile }}</a>: {{ comment }} ({{ comment.how_old }})
                        {% endfor %}
                    {% endif %}
                    <form method="post">{% csrf_token %}
                        <input type="text" name="comment_text" placeholder="Комментировать...">
                        <button name="post_id" type="submit" value="{{ blingpost.pk }}">Отправить</button>
                    </form>
                </h4>

                <!-- author can delete their post -->
                {% if blinguser.username == user.username %}
                    <form method="post">{% csrf_token %}
                        <button name="remove_post" value="{{ blingpost.pk }}" type="submit">Удалить</button>
                    </form>
                {% endif %}
            </div><br>
        {% endfor %}
</div><br>
{% endblock %}